<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Practica PO</title>
    
</head>
<body>
    <form method ="POST">
    <h2>Elige un producto </label></h2>
    <input type ="submit" name="producto1" value ="labial">
    <input type ="submit" name="producto2" value ="rimel">
    <input type ="submit" name="producto3" value ="sudadera">
    <input type ="submit" name="producto4" value ="tenis">
<br><br>
</form>
<?php
class productos{
    public $producto;
    public $precio;
    public $color;
}
$producto1 = new productos();
$producto1 ->producto ='Labial';
$producto1 ->precio = 80;
$producto1 ->color = 'rojo';

$producto2 = new productos();
$producto2 ->producto ='rimel';
$producto2 ->precio = 100;
$producto2 ->color ='negro';

$producto3 = new productos();
$producto3 ->producto ='sudadera';
$producto3 ->precio = 200;
$producto3 ->color ='amarillo';

$producto4 = new productos();
$producto4 ->producto='tenis';
$producto4 ->precio=222;
$producto4 ->color='marron';

if(isset($_POST['producto1']))
	{
		echo "EL producto que seleccionaste es: ".$producto1->producto."<br>";
		echo "Tiene un precio de ".$producto1->precio."<br>";
		echo "Color: ".$producto1->color."<br>";
	}
	elseif(isset($_POST['producto2']))
	{
		echo "EL producto que seleccionaste es: ".$producto2->producto."<br>";
		echo "Tiene un precio de ".$producto2->precio."<br>";
		echo "Color: ".$producto2->color."<br>";
	}
	elseif (isset($_POST['producto3']))
	{
		echo "EL producto que seleccionaste es: ".$producto3->producto."<br>";
		echo "Tiene un precio de ".$producto3->precio."<br>";
		echo "Color: ".$producto3->color."<br>";
	}

	else
	{
		echo "EL producto que seleccionaste es: ".$producto4->producto."<br>";
		echo "Tiene un precio de ".$producto4->precio."<br>";
		echo "Color: ".$producto4->color."<br>";
	}

 	?>

</body>
</html>```
